@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoomSlow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.animate-zoom-slow {
    animation: zoomSlow 30s ease-in-out infinite alternate;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeInScale {
    animation: fadeInScale 0.3s ease-out forwards;
}

